wp-content/uploads/
uat/
dev/
backup/
new_vstore_web.sql
u808097185_admin_v_04-20-2.sql
vstore_prod_db.sql
wp-content.zip
*.zip
wp-config.php
.env
node_modules/
.DS_Store
wp-content/cache/
wp-content/upgrade/
.htaccess
wp-content/debug.log
wp-content/debug.log